* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --primary:  #e5e5e6;
  --primary-font:  'Clash Grotesk', sans-serif;
  --secondary-font: 'Satoshi', sans-serif;
  --default-font: 'Nunito', sans-serif;

}


@keyframes dangle {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0);
  }
}


.dangle {
  /* call animation */
  animation: dangle 1s ease-in-out infinite;
}
